<div class="top-img">
  <div class="row">
    <div class="col s12 top-txt">
      <h4 class="txt">あなただけの古着屋を見つけよう</h4>
      <h6 class="txt">全国の古着検索＆紹介アプリ</h6>
    </div>
  </div>
</div>
<div class="container">
  <div class="create-btn">
    <%= link_to '投稿する', new_shop_path ,class: "btn-open"%>
  </div>
    <p class="content-title">古着屋さん一覧</p>
  <% @shops.each do |shop| %>
  <div class="content">
    <div class="name_genre">
      <p><%= link_to  shop.name, shop_path(shop.id) %></p>
      <p>ジャンル: <%= shop.genre %></p>
    </div>
    <div class="main">
      <div class="main-right">
        <%= image_tag shop.image_url, class:"shop-img" if shop.image? %>
      </div>
      <div class="main-left">
        <p>内容: <%= shop.content %></p>
        <p>住所: <%= shop.address %></p>
        <div class="user">
          <% if shop.user.image? %>
            <%= image_tag shop.user.image.url ,class: "user_shop_img"%>
          <% else %>
            <%= image_tag "user.png" ,class: "default_user_shop_img"%>
          <%end%>
          <p class="username"><%=link_to shop.user.username, user_path(shop.user.id) %></p>
        </div>
          <p>作成日: <%= shop.created_at %></p>
          <%= link_to '削除', shop_path(shop.id), method: :delete %>
          <%= link_to '編集', edit_shop_path(shop.id)%>
      </div>
    </div>
  </div>
  <% end %>
</div>
