<div id="js-scroll-top" class="scroll-top"><span class="arrow-top"></span></div>
<div class="container">
  <p class="section-title">ALL SHOPS</p>
  <p class="section-sub-title">全てのお店</p>
  <div class="contents-main">
    <% @shops.each do |shop| %>
      <div class="content">
          <div class="content-right">
            <%= image_tag shop.image_url, class:"shop-img" if shop.image? %>
          </div>
          <div class="content-left">
            <div class="content-summary">
              <p><%= link_to shop.name, shop_path(shop.id),class: "shop-name"%></p>
              <hr class="blue-horizon" size="10" width="100%" noshade/>
              <div>
                <ul class="store-data">
                  <li><p>サンプル</p></li>
                  <li><p>場所サンプル</p></li>
                </ul>
              </div>
            </div>
            <% if user_signed_in? && current_user.id == shop.user_id %>
                <%= link_to shop_path(shop.id), method: :delete, class: "delete" do %>
                  <i class="far fa-trash-alt"></i>削除
                <% end %>
                /<%= link_to edit_shop_path(shop.id),class: "edit" do %>
                  <i class="far fa-edit"></i>編集
                <% end %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
  <div class="create-btn">
    <%= link_to '新しく投稿する', new_shop_path ,class: "arrow_r"%>
  </div>

</div>
<%= javascript_pack_tag "scroll" %>