<div class="container">
  <div class="test">
    <p><%= @shop.name %></p>
    <p><%= @shop.content %></p>
    <p><%= @shop.genre %></p>
    <p><%= @shop.created_at %></p>
    <p><span>email: </span><%= @user.email %></p> <!-- 追加 -->
  </div>

  <%= link_to "一覧に戻る", shops_path %>
</div>