<div class="container">
  <div class="show-content">
    <div class="name_genre">
      <p class="show-shopname-font"><%= @shop.name%></p>
      <p>ジャンル: <%= @shop.genre %></p>
    </div>
    <%= image_tag @shop.image_url, class:"shop-img-show" if @shop.image? %>  
    <p>内容: <%= @shop.content %></p>
    <p>作成日: <%= @shop.created_at %></p>
    <p>住所: <%= @shop.address %></p>
    <p><span>名前: </span><%= @user.username %></p> 
    <div id="map"></div>
  </div>

  <%= link_to "一覧に戻る", shops_path %>

  <!---------------------------------------------------------------------------------------------------------------->
  <p>服服服服服</p>
  <% @cloths.each do |cloth| %>
    <div>
      <%= cloth.cloth_content %>
      <hr>
    </div>
  <% end %>
  
  <%= form_with(model:[@shop, @cloth], method: :post) do |f| %>
    <%= f.text_area :cloth_content %>
    <%= f.submit 'コメントする' %>
  <% end %>
  <!---------------------------------------------------------------------------------------------------------------->
</div>

<style type="text/css">
  #map {
    height: 200px;
    width: 70%;
  }
</style>

<script type="text/javascript">

  function initMap () {
    let test = { 
      lat: <%= @shop.latitude %>, 
      lng: <%= @shop.longitude %>
      }

    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    const transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    const contentString = "住所：<%= @shop.address %>";
    const infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    const marker = new google.maps.Marker({
      position: test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
<!--data-turbolinks-eval="false"-->
