<div class="container user-show-font">
  <div class="user-info">
    <div class="user-info-left">
      <% if @user.image? %>
        <%= image_tag @user.image.url ,class: "user_img"%>
      <% else %>
        <%= image_tag "user.png" ,class: "default_user_img"%>
      <%end%>
      <div class="follow-follwer">
        <p>
          <!--<%= link_to following_user_path(@user.id) do %>-->
            <span><%= @user.following.count %></span> フォロー中
          <!--<% end %>-->
        </p>
        <p>
          <!--<%= link_to followers_user_path(@user.id) do %>-->
            <span><%= @user.followers.count %></span> フォロワー
          <!--<% end %>-->
        </p>
      </div>
    </div>


  
    <div class="user-info-right">
      <p><%= current_user.username %></p>
      <div class="follow-follower-btn">
      <!-- フォローボタン(MYPAGEのユーザーがcurrent_userでなければ表示-------------------- && @user != current_user ---------------------------------->
        <% if user_signed_in? && @user != current_user %>
          <div id="follow_form">
            <% if current_user.following?(@user) %>
              <!-- フォロー解除ボタン ------------------------------------------------------------------>
              <%= form_for(current_user, url: relationship_path(@user), method: :delete, remote: true) do |f| %>
                <%= f.submit "フォロー解除", class: "btn btn-outline-secondary" %>
              <% end %>
            <% else %>
              <!-- フォローボタン ------------------------------------------------------------------>
              <%= form_for(current_user, url: relationships_path, method: :post, remote: true) do |f| %>
                <%= hidden_field_tag :following_id, @user.id %>
                <%= f.submit "フォローする", class: "btn btn-outline-secondary" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <% if current_user.id == @user.id %>
      <%= link_to "プロフィールを編集する", edit_user_registration_path,class:"user-edit" %>
    <% end %>
  <!--<hr class="bar">-->
</div>
  <section>
    <ul class="tab">
        <li><a href="" class="active">投稿したお店</a></li>
        <li><a href="">お気に入りのお店</a></li>
        <li><a href="">お気に入りの洋服</a></li>
    </ul>
    <ul class="contents">
      <li class="active">
      <% if @shops.length > 0 %>
          <% @shops.each do |shop| %>
            <div class="user-shops">
                <%= link_to shop_path(shop.id) do %>
                  <%= image_tag shop.image_url, class:"user-shop-img" if shop.image? %>
                <%end%>
            </div>
          <% end %>
        <% else %>
          <div class="null-shops">
            <p>まだ投稿したことがありません</p>
          </div>
        <% end %>
      </li>
      <li>
        <div class="null-shops">
            <p>お気に入りのお店はありません</p>
          </div>
      </li>
      <li>
        <div class="null-shops">
            <p>お気に入りの洋服はありません</p>
        </div>
      </li>
    </ul>
  </section>

  <%= javascript_pack_tag 'users/show' %>