<div class="container user-show-font">
  <div class="user-info">
    <div class="user-info-left">
      <% if @user.image? %>
        <%= image_tag @user.image.url ,class: "user_img"%>
      <% else %>
        <%= image_tag "user.png" ,class: "default_user_img"%>
      <%end%>
      <div class="follow-follwer">
        <p><span>??</span> フォロー中</p>
        <p><span>??</span> フォロワー</p>
      </div>
    </div>
    <div class="user-info-right">
      <p><%= current_user.username %></p>
    </div>
  </div>
    <% if current_user.id == @user.id %>
      <%= link_to "プロフィールを編集する", edit_user_registration_path,class:"user-edit" %>
    <% end %>
  <!--<hr class="bar">-->
</div>
  <section>
    <ul class="tab">
        <li><a href="" class="active">投稿したお店</a></li>
        <li><a href="">お気に入りのお店</a></li>
        <li><a href="">お気に入りの洋服</a></li>
    </ul>
    <ul class="contents">
      <li class="active">
      <% if @shops.length > 0 %>
          <% @shops.each do |shop| %>
            <div class="user-shops">
                <%= link_to shop_path(shop.id) do %>
                  <%= image_tag shop.image_url, class:"user-shop-img" if shop.image? %>
                <%end%>
            </div>
          <% end %>
        <% else %>
          <div class="null-shops">
            <p>まだ投稿したことがありません</p>
          </div>
        <% end %>
      </li>
      <li>
        <div class="null-shops">
            <p>お気に入りのお店はありません</p>
          </div>
      </li>
      <li>
        <div class="null-shops">
            <p>お気に入りの洋服はありません</p>
        </div>
      </li>
    </ul>
  </section>

  <%= javascript_pack_tag 'users/show' %>