<div class="container">
  <p><%= current_user.username %>さんのMyPage</p>
  <p>メールアドレス : <%= current_user.email %></p>
  <% if @user.image? %>
  <%= image_tag @user.image.url%>
  <% else %>
  <%= image_tag "user.png"%>
  <%end%>

  <% if current_user.id == @user.id %>
  <%= link_to "ユーザー情報を編集する", edit_user_registration_path %>
  <% end %>

  <p>投稿一覧</p>
  <% @shops.each do |shop| %>
  <hr>
  <p><span>内容: </span><%=link_to shop.content, shop_path(shop.id) %></p>
  <% end %>
  <%= link_to "一覧に戻る", shops_path %>
</div>