<div class="container user-show-font">
  <div class="user-info">
    <div class="user-info-left">
      <% if @user.image? %>
        <%= image_tag @user.image.url ,class: "user_img"%>
      <% else %>
        <%= image_tag "user.png" ,class: "default_user_img"%>
      <%end%>
    </div>
    <div class="user-info-right">
      <p><%= current_user.username %></p>
      <% if current_user.id == @user.id %>
        <%= link_to "プロフィールを編集する", edit_user_registration_path,class:"user-edit" %>
      <% end %>
    </div>
  </div>
  <!--<hr class="bar">-->
</div>
  <section>
    <ul class="tab">
        <li><a href="" class="active">投稿したお店</a></li>
        <li><a href="">お気に入りのお店</a></li>
        <li><a href="">お気に入りの洋服</a></li>
    </ul>
    <ul class="contents">
      <li class="active">
        <% @shops.each do |shop| %>
          <div class="show-shops">
              <%= link_to shop_path(shop.id), target: :_blank do %>
                <%= image_tag shop.image_url, class:"shop-img-user" if shop.image? %>
              <%end%>
              <!--<div class="show-shop-summaury">
                <p><%= link_to  shop.name, shop_path(shop.id) %></p>
              </div>-->
          </div>
        <% end %>
      </li>
      <li>タブ2</li>
      <li>タブ3</li>
    </ul>
  </section>

  <%= javascript_pack_tag 'users/show' %>