<header class="header">
    <div class="headerNavOuter">
        <h1 class="siteIcon"><a href="#"><img class="logoimg"src="https://drive.google.com/uc?export=view&id=1mu_N2iTeoQCeUiuWRgJ0xwjR4AZ-29bL" alt="ロゴ画像"></a></h1>
        <!-- ナビゲーション -->
        <nav class="headerNav">
            <ul class="navList">
                <li class="navItem"><%= link_to "お店一覧", shops_path%></li>
                <% if user_signed_in? %>
                  <li class="navItem"><%= link_to  "投稿する", new_shop_path%></li>
                  <li class="navItem"><%= link_to  "マイページ",user_path(current_user.id)%></li>
                  <li class="navItem"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
                <% else %>
                <li class="navItem"><%= link_to 'ログイン', new_user_session_path%></li>
                <li class="navItem"><%= link_to 'サインアップ', new_user_registration_path%></li>
                <% end %>
            </ul>
        </nav>
        <!-- ハンバーガーボタン -->
        <div class="hamburger_btn" id="js-hamburger">
            <span class="hamburger_line hamburger_line_1"></span>
            <span class="hamburger_line hamburger_line_2"></span>
            <span class="hamburger_line hamburger_line_3"></span>
        </div>
        <!-- ハンバーガーメニュをクリックした後に現れる半透明の背景-->
        <div class="black-bg" id="js-black-bg"></div>
    </div>
</header>
<%= javascript_pack_tag 'header' %>