<header id="header" class="header">
    <div class="headerNavOuter">
        <li class="#"><%= link_to "TSUNAGI",root_path,class:"home" %></li>
        <!-- pcナビゲーション -->
        <nav class="pc-headerNav">
            <ul class="pc-navList">
                <li class="pc-navItem"><%= link_to "トップ画面", root_path,class:"pc-navColor"%></li>
                <li class="pc-navItem"><%= link_to "お店一覧", shops_path,class:"pc-navColor"%></li>
                <% if user_signed_in? %>
                    <li class="pc-navItem"><%= link_to  "投稿する", new_shop_path,class:"pc-navColor"%></li>
                    <li class="pc-navItem"><%= link_to  "マイページ",user_path(current_user.id),class:"pc-navColor"%></li>
                    <li class="pc-navItem"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"pc-navColor"%></li>
                <% else %>
                <li class="pc-navItem"><%= link_to 'ログイン', new_user_session_path,class:"pc-navColor"%></li>
                <li class="pc-navItem"><%= link_to 'サインアップ', new_user_registration_path,class:"pc-navColor"%></li>
                <% end %>
            </ul>
        </nav>
        <!-- スマホナビゲーション -->
        <nav class="headerNav">
            <ul class="navList">
                <li class="navItem"><%= link_to "トップ画面", root_path%></li>
                <li class="navItem"><%= link_to "お店一覧", shops_path%></li>
                <% if user_signed_in? %>
                    <li class="navItem"><%= link_to  "投稿する", new_shop_path%></li>
                    <li class="navItem"><%= link_to  "マイページ",user_path(current_user.id)%></li>
                    <li class="navItem"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
                <% else %>
                <li class="navItem"><%= link_to 'ログイン', new_user_session_path%></li>
                <li class="navItem"><%= link_to 'サインアップ', new_user_registration_path%></li>
                <% end %>
            </ul>
        </nav>
        <!-- ハンバーガーボタン -->
        <div class="hamburger_btn" id="js-hamburger">
            <span class="hamburger_line hamburger_line_1"></span>
            <span class="hamburger_line hamburger_line_2"></span>
            <span class="hamburger_line hamburger_line_3"></span>
        </div>
        <!-- ハンバーガーメニュをクリックした後に現れる半透明の背景-->
        <div class="black-bg" id="js-black-bg"></div>
    </div>
</header>
<%= javascript_pack_tag 'header' %>