<!DOCTYPE html>
<html>

<head>
  <title>Tsunagi</title>
  <%= render 'layouts/default' %>
  
</head>

<body>
  <%= render 'layouts/header' %>
  <div class="wrap grey lighten-5">
    <%= yield %>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render 'layouts/footer' %>

</body>

</html>