<div class="container">
  <h2>会員登録</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field input-field col s12">
    <i class="material-icons prefix">mail</i>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field input-field col s12">
    <i class="material-icons prefix">lock</i>
    <%= f.label :password %>
    <!--<% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /> -->
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field input-field col s12">
    <i class="material-icons prefix">lock</i>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <button class="actions btn waves-effect waves-light blue darken-3" type="submit" name="action"><%= f.submit "登録する",class: "white-text"%>
    <i class="material-icons right">send</i>
  </button>
  <% end %>

  <%= render "users/shared/links" %>
</div>