<div class="container">
  <p class="section-title">Register</p>
  <p class="section-sub-title">ユーザー登録</p>
  <div class="post-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: "userform" }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="form-group">
      <i class="material-icons prefix">account_circle</i>
      <%= f.label :username,"ユーザー名" %><br/>
      <%= f.text_field :username, autofocus: true, autocomplete: "username",class: "form-control" %>
    </div>

    <div class="form-group">
      <i class="material-icons prefix">mail</i>
      <%= f.label :email,"メールアドレス" %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
    </div>

    <div class="form-group">
      <i class="material-icons prefix">lock</i>
      <%= f.label :password,"パスワード" %>
      <!--<% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br /> -->
      <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control" %>
    </div>

    <div class="form-group">
      <i class="material-icons prefix">lock</i>
      <%= f.label :password_confirmation,"パスワード(確認)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control" %>
    </div>
    

    <%= f.submit "ユーザー登録する",class: "btn btn-primary"%>

    <% end %>
  <hr>
    <%= render "users/shared/links" %>
  </div>
</div>




